@model List<Product>
<div class="container">
    <div class="row pt-4 pb-2">
        <div class="col-6">
            <h2 class="text-primary">
                Product List
            </h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Product" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-square"></i>Create a new Product
            </a>
        </div>
    </div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    Product Title
                </th>
                <th>
                    Description
                </th>
                <th>
                    Author
                </th>
                <th>
                    ISBN
                </th>
                <th>
                    List Price
                </th>
                <th>
                    Price for 1-50
                </th>
                <th>
                    Price for 50+
                </th>
                <th>
                    Price for 100+
                </th>
                <th>
                    Category
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cat in Model.ToList())
            {
                <tr>
                    <th>@cat.Title</th>
                    <th>@cat.Description</th>
                    <th>@cat.Author</th>
                    <th>@cat.ISBN</th>
                    <th>@cat.ListPrice</th>
                    <th>@cat.Price</th>
                    <th>@cat.Price50</th>
                    <th>@cat.Price100</th>
                    <th>@cat.CategoryId</th>
                    <th>
                        <div class="w-75 btn-group" role="group">
                            <a asp-controller="Product" asp-action="Edit" asp-route-id="@cat.Id" class="btn btn-primary mx-2">
                                Edit<i class="bi bi-pencil-square"></i>
                            </a>
                            <a asp-controller="Product" asp-action="Delete" asp-route-id="@cat.Id" class="btn btn-danger mx-2">
                                Delete<i class="bi bi-trash-fill"></i>
                            </a>

                        </div>
                    </th>
                </tr>
            }
        </tbody>
    </table>
</div>